<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>German Tax Report - Anlage KAP</title>
    <style>
        {{> css}}
    </style>
</head>
<body>
    <div class="container">
        {{> header}}
        {{> tax-summary}}
        {{> transaction-details}}
        {{> footer}}
    </div>
</body>
</html>